.settings-section01 {
    display: inline-table;
}

.settings-section01-title {
    margin-top: 60px;
    display: inline-table;
}

.settings-section01-title > img {
    width: 98px;
}

.settings-section01-title > h1 {
    font-size: 25px;
    font-weight: normal;
    color: #050505;
    font-family: sans-serif;
    margin-bottom: 12px;
}

.settings-section01-title > h4 {
    margin-top: 12px;
    font-size: 17px;
    font-weight: normal;
    color: #5F6368;
    font-family: sans-serif;
    max-width: 400px;
}

.settings-section02 {
    max-width: 1100px;
    display: inline-table;
}

.settings-section02 > figure > hr {
    border: none;
    margin: 0;
    border-bottom: 1px solid #D9DBDF;
}

.settings-section02 > figure {
    border-radius: 5px;
    border: 1px solid #D9DBDF;
    display: inline-table;
    max-width: 400px;
    text-align: left;
}

.settings-section02 > figure > span:nth-child(2) > img {
    width: 70px;
    margin: 24px;
}

.settings-section02 > figure > span {
    display: inline-table;
    vertical-align: middle;
}

.settings-section02 > figure > span:nth-child(1) > div {
    padding: 16px;
}

.settings-section02 > figure > div {
    padding: 16px;
}

.settings-section02 > figure > div:hover {
    background-color: #F5F5F5;
}

.settings-section02 > figure > span:nth-child(1) > div > h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0;
    width: 200px;
}

.settings-section02 > figure > span:nth-child(1) > div > h4 {
    margin-top: 7px;
    font-size: 14px;
    font-weight: normal;
    width: 230px;
}

.settings-section03 {
    display: inline-table;
}

.settings-section03> span {
    display: inline-table;
    vertical-align: middle;
}

.settings-section03> span:nth-child(1) {
    margin-right: 10px;
}

.settings-section03> span:nth-child(1) > p {
    margin-top: 12px;
    font-size: 15px;
    font-weight: normal;
    color: #5F6368;
    font-family: sans-serif;
    max-width: 400px;
}

.settings-section03> span:nth-child(1) > p > a {
    font-weight: normal;
    color: #2076E3;
    text-decoration: none;
}

.settings-section03> span:nth-child(1) > p > a:hover {
    text-decoration: underline;
}

.settings-section03> span:nth-child(2) > img {
    width: 36px;
}
