<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fannst Search Engine</title>
        <% include ../head/main-default-head.html %>
        <link rel="stylesheet" type="text/css" href="/style/main/index.css">
        <link rel="stylesheet" type="text/css" href="/style/main/profile-dropdown.css">
        <script src="/js/main/search.js" defer></script>
        <script src="/js/main/profile-dropdown.js" defer></script>
        <meta name="keywords" content="search, engine, service">
        <meta name="copyright" content="Luke Rieff">
        <meta name="description" content="A Google Like Search Engine, Build By Teens 'Fannst'.">
    </head>
    <body>
        <nav>
            <% include ../head/profile-head.ejs %>
        </nav>
        <main>
            <div class="search">
                <div class="search-doodle">
                    <img type="image/png" src="/images/brand/doodles/doodle01.png">
                </div>
                <form action="/search" method="get" id="search-form">
                    <div class="search-input">
                        <span>
                            <input type="text" id="search_input" name="params">
                        </span>
                        <span>
                            <button type="button" onclick="voice_search()">
                                <img type="image/png" src="/images/main/search/voice-icon.png">
                            </button>
                        </span>
                    </div>
                    <div class="search-buttons">
                        <span>
                            <button>Fannst search</button>
                        </span>
                        <span>
                            <a href="/support">Support</a>
                        </span>
                    </div>
                </form>
                <div class="privacy-notif">
                    <span>
                        <img type="image/png" src="/images/main/search/privacy-icon.png">
                    </span>
                    <span>Privacy and opinion matters to us. <a href="/account/privacy">Customize Fannst to match.</a></span>
                </div>
            </div>
            <div class="voice-overlay" id="voice-overlay" style="display: none">
                <span>
                    <p id="voice-output">Start talking...</p>
                </span>
                <span>
                    <span>
                        <button class="voice-overlay-normal">
                            <img type="image/png" src="/images/main/search/voice-search.png">
                            <div class="voice-overlay-listening"></div>
                        </button>
                    </span>
                    <span>
                        <img type="image/png" src="/images/main/search/voice-fannst-icon.png">
                    </span>
                </span>
            </div>
            <% include ../head/loader.html %>
        </main>
    </body>
</html>
