body, html {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #252628;
}

button {
    outline: none;
}

a {
    color: #2076E3;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.loader {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10000;
}

.loader-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: translate(-50%, -50%);
}

.loader-div > img {
    width: 40px;
    animation: loader .5s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
