.input {
    position: relative;
    display: inline-table;
    width: 325px;
    margin-bottom: 38px;
    margin-top: 20px;
}

.input-in {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    /* sets the style */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #D9DBDF;
    transition: .1s;
    box-shadow: 0px 0px 0px 2px #fff inset;
    width: 300px;
    height: 25px;
}

.input-in:focus {
    transition: .1s;
    box-shadow: 0px 0px 0px 2px #2076E3 inset;
}

.input-in:focus + div {
    transform: translateY(-20%);
    background-color: #fff;
    transition: .1s;
    font-size: 12px;
}

.input-in:valid + div {
    transform: translateY(-20%);
    background-color: #fff;
    transition: .1s;
    font-size: 12px;
}

.input > div {
    position: absolute;
    pointer-events: none;
    padding-right: 5px;
    padding-left: 5px;
    top: 50%;
    left: 8px;
    transform: translateY(50%);
    color: #5F6368;
    transition: .1s;
    font-size: 15px;
}

.button {
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #2076E3;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    transition: .1s;
}

.button:active {
    transition: .2s;
    background-color: #3868B3;
}

.button-text {
    cursor: pointer;
    color: #2076E3;
    font-size: 13px;
    font-weight: bold;
    background: none;
    border: none;
    padding: 12px;
    transition: .2s;
    border-radius: 5px;
    cursor: pointer;
}

.button-text:hover {
    transition: .4s;
    background-color: rgba(66,133,244,.12);
}
