<div class="nav-head">
    <span>
        <a href="/search?filter=images">Images</a>
    </span>
    <span>
        <button>
            <img type="image/png" src="/images/main/nav/apps-icon.png">
        </button>
    </span>
    <span>
        <button>
            <img type="image/jpg" src="/images/main/nav/default-pf.jpg">
        </button>
    </span>
</div>
